<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/editUser.css">
    <title>user_management</title>
    <link rel="shortcut icon" href="styles\images\favicon1.png" type="image/x-icon">
    </head>

<body>
    <div class="wrapper">
        <div class="title">
          Edit User
            </div>
       
        <form action="" method="post" onsubmit="return validate()">
            <div class="field">
                <input id="name" name="name" type="text" value="<%- user.name %>" >
                <label>Edit Name</label>
                <p id="nameError" class="alert-message">
                  
                 </p>
               
            </div>
            <div class="field">
                <input id="email" name="email" type="text" value="<%- user.email %>"  >
                <label>Edit Email</label>
                <p id="emailError" class="alert-message">
                    
                 </p>
            </div>
            <div class="field">
                <input id="mobile" name="mobile" type="tel" value="<%- user.mobile %>" >
                <label>Edit Mobile</label>
                <p id="mobileError" class="alert-message">
                  
                 </p>
            </div>
            <input type="hidden" name="id" value="<%- user._id %>">
            <!-- <p id="ErrorMessage" class="alert-message"></p> -->
           
            


             <% if (errorMessage) { %>
                <p id="errorMessage" class="alert-message">
                   <%= errorMessage %>
                </p>
             <% } %>
             
             <div class="field">
                <input type="submit" value="Update User">
            </div>
           
            
            <div class="d-flex">
            <a href="/admin/dashboard">Back To Dashboard</a>
        </div>
        </form>
    </div>
    <script src="/js/adminEditValidation.js"></script>
</body>

</html>
